@use "global" as *;

.blog {
  margin-bottom: rem(150);
}
.blog__title-wrapper {
  margin-bottom: rem(63);
}

.blog__title {
  @include mq(md) {
    position: absolute;
    top: -100%;
    right: 0;
  }
}

.blog__link {
  margin-top: rem(24);
  @include mq(md) {
    max-width: rem(360);
    margin: 0 auto;
  }
}