@use "global" as *;

.blog-post {
  color: $white;
}

.blog-post__title {
  font-size: rem(23);
  font-weight: $normal;
  line-height: 1.52173913;
  letter-spacing: 0.0173em;
  margin-bottom: rem(16);
}

.blog-post__info {
  display: flex;
  align-items: center;
  margin-bottom: ;
}

.blog-post__date {
  letter-spacing: 0.025em;
}

.blog-post__category {
  letter-spacing: 0.125em;
  border: 1px solid $white;
  padding: rem(7) rem(18);
  margin-left: rem(24);
}