@use "global" as *;

.blog-post {
  color: $white;
}

.blog-post__inner {
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  max-width: rem(640);
  @include mq("md") {
    max-width: $inner-s + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.blog-post__title {
  font-size: rem(23);
  font-weight: $normal;
  line-height: 1.52173913;
  letter-spacing: 0.0173em;
  margin-bottom: rem(16);
  @include mq(md) {
    margin-bottom: ;
  }
}

.blog-post__info {
  display: flex;
  align-items: center;
  margin-bottom: rem(16);
}

.blog-post__date {
  letter-spacing: 0.025em;
}

.blog-post__category {
  letter-spacing: 0.125em;
  border: 1px solid $white;
  padding: rem(7) rem(18);
  margin-left: rem(24);
}

.blog-post__img {
  margin : 0 calc(50% - 50vw);
  width : 100vw;
  padding-top: 75%;
  position: relative;
  margin-bottom: rem(24);
  @include mq(md) {
    margin: 0;
    width: 100%;
  }
}

.blog-post__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-post__text {
  letter-spacing: 0.025em;
  line-height: 2.1875;
  margin-bottom: rem(24);
}

.blog-post__heading2 {
  border-left: 3px solid #c4c4c4;
  font-size: rem(20);
  letter-spacing: 0.1em;
  padding-left: rem(5);
  margin-bottom: rem(24);
}

.blog-post__heading3 {
  display: inline-block;
  border-bottom: 3px solid #fff;
  border-image: linear-gradient(to right, #ffea2e 0%, #ffea2e 35%,#fff 35%);
  border-image-slice: 1;
  font-size: rem(18);
  letter-spacing: 0.1111em;
}

.blog-post__items {
  margin-bottom: rem(24);
}

.blog-post__item {
  letter-spacing: 0.025em;
  line-height: 2.1875;
}