@use "global" as *;

.cards {
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.cards__item {
  display: flex;
  margin-bottom: rem(24);
  width: 100%;
  @include mq(md) {
    max-width: calc(33.3333% - #{rem(25)} * 2 / 3);
    margin-bottom: rem(48);
    margin-right: rem(25);
  }
}


.cards__item:nth-child(3n) {
  @include mq(md) {
    margin-right: 0;
  }
}