@use "global" as *;

.card {
  height: inherit;
  width: 100%;
  // margin: 0 auto;
  @include mq(md) {
    // margin: 0;
    transition:0.3s all;
  }
}

.card:hover {
  @include mq(md) {
    .card__body {
      background-color: #333;
      color: $white;
    }
    .card__img img {
      transform:scale(1.2,1.2);
    }
  }
}

.card__img {
  overflow: hidden;
}

.card__img img {
  width: 100%;
  aspect-ratio: 350 / 233;
  transition:0.3s all;
  object-fit: cover;
}

.card__body {
  background-color: $white;
  color: $gray;
  padding: rem(4) rem(24) rem(16);
  display: flex;
  flex-direction: column;
}

.card__header {
  flex-grow: 1;
  margin-bottom: rem();
}

.card__title {
  font-size: rem(18);
  letter-spacing: 0.05em;
  line-height: 1.94;
  font-weight: 500;
}

.card__text,
.card__category,
.card__date {
  font-size: rem(14);
  letter-spacing: 0.05em;
  line-height: 1.85;
}

.card__title {
  margin-bottom: rem(4);
}

.card__text {
  margin-bottom: rem(4);
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.card__category {
  background-color: #FFEA2E;
  color: $gray;
  padding: 0 rem(4);
}

.card {
  position: relative;
}
.card__tag {
  z-index: 10;
  position: absolute;
  top: rem(-15);
  left: rem(-15);
  display: inline-block;
  letter-spacing: 0.1em;
  line-height: 2.1875;
  color: $gray;
  background-color: #FFBA6A;
  padding: rem(12);
  border-radius: 50%;
}