@use "global" as *;

.form {
  color: $white;
  margin-bottom: rem(120);
}

.form__body {
  margin-bottom: rem(48);
}

.form__items {
  margin-bottom: rem(32);
  font-size: rem(14);
  letter-spacing: 0.05em;
  line-height: 1.71428571;
  @include mq(md) {
    display: flex;
    aic
  }
}

.form__items label {
  display: block;
  margin-bottom: rem(16);
}
.form__items input,
.form__items textarea {
  background-color: $white;
  display: block;
  width: 100%;
  max-width: rem(540);
  padding: rem(10);
}

.form__btn {
  text-align: center;
}

.form__btn input{
  background-color: $white;
  font-size: rem(20);
  width: 100%;
  max-width: rem(360);
  padding: rem(10);
}