@use "global" as *;

.gallery__main {
    margin-bottom: rem(32);
}

.swiper-button-next,
.swiper-button-prev {
    --swiper-navigation-color: #ff2911; //ここに変更する色を指
}


.gallery {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
//メイン
.gallery__main {
        width: 100%;
        height: auto;

.swiper-slide {
            width: auto;
            height: 400px;
            
            img {
                display: block;
                width: auto;
                height: 100%;
                margin: 0 auto;
            }
        }
    }

//サムネイル
&__thumbnail {
    width: 100%;
    padding: 0;
    overflow: hidden;

    .swiper-slide {
        width: 100px;
        height: 100px;
        text-align: center;
        overflow: hidden;
        opacity: .1;
        &-active {
            opacity: 1;
        }
        
        img {
            width: auto;
            height: 100%;
        }
    }
}
}