@use "global" as *;

.gallery {
    margin : 0 calc(50% - 50vw);
    width : 100vw;
    @include mq(md) {
        margin: 0;
        width: 100%;
    }
}

.gallery__main {
    margin-bottom: rem(32);
}

.swiper-button-next,
.swiper-button-prev {
    --swiper-navigation-color: #ff2911; //ここに変更する色を指
}

//メイン
.gallery__main {
}

.gallery__main .swiper-slide {
    position: relative;
    padding-top: 66.933333%;
    @include mq(md) {
        padding-top: 53.375%;
    }
}

.gallery__main .swiper-slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//サムネイル
.gallery__thumbnail {
    width: 100%;
    // padding: 0;
    // overflow: hidden;
}
.gallery__thumbnail .swiper-slide {
    width: rem(163);
    height: auto;
    // text-align: center;
    overflow: hidden;
}

.gallery__thumbnail img {
    width: auto;
    height: 100%;
}
