@use "global" as *;

.gallery {
    margin : 0 calc(50% - 50vw);
    width : 100vw;
    @include mq(md) {
        margin: 0;
        width: 100%;
    }
}

.gallery__main {
    margin-bottom: rem(32);
}

.swiper-button-next,
.swiper-button-prev {
    --swiper-navigation-color: #ff2911; //ここに変更する色を指
}

//メイン
.gallery__main {
    

.gallery__main .swiper-slide {
    
}

.gallery__main .swiper-slide img {

}

//サムネイル
.gallery__thumbnail {
    width: 100%;
    padding: 0;
    overflow: hidden;
}
.gallery__thumbnail .swiper-slide {
    width: 100px;
    height: 100px;
    text-align: center;
    overflow: hidden;
}

.gallery__thumbnail img {
    width: auto;
    height: 100%;
}
