@use "global" as *;

.not-found__title {
  font-size: rem(40);
  letter-spacing: 0.02em;
  color: #FFEA2E;
  text-align: center;
  margin-bottom: rem(80);
}

.not-found__text {
  color: $white;
  font-size: rem(20);
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: rem(80);
  @include mq(md) {
    font-size: rem(30);
  }
}

.not-found__text br {
  @include mq(md) {
    display: none;
  }
}

.not-found__link {
  text-align: center;
}

