@use "global"as *;

.section-header {
  text-align: center;

  @include mq(md) {
    position: relative;
  }
}

.section-header__title {
  font-size: rem(50);
  letter-spacing: 0.04em;
  color: #F9F871;
  font-family: $second-font-family;
  font-weight: $normal;
  opacity: 0.2;

  @include mq(md) {
    font-size: rem(110);
    letter-spacing: 0.018em;
    text-align: right;
  }
}

.section-header__title--left {
  @include mq(md) {
    position: absolute;
    top: rem(-42);
    left: rem(20);
  }
}

.section-header__title--contact {
  @include mq(md) {
    position: absolute;
    top: rem(-90);
    left: rem(20);
  }
}

.section-header__title--right {
  @include mq(md) {
    position: absolute;
    top: rem(-38);
    right: rem(20);
  }
}

.section-header__sub-title {
  font-size: rem(20);
  color: $white;
  margin-top: rem(-25);
  letter-spacing: 0.1em;
  text-align: center;

  @include mq(md) {
    font-size: rem(30);
    letter-spacing: 0.016em;
    margin-top: 0;
  }
}