@use "global" as *;

.explain__block {
  display: flex;
  color: $white;
  border-bottom: 1px solid $white;
  padding: rem(20) 0;
  @include mq(md) {
    padding: rem(30) 0;
  }
}

.explain__header {
  font-size: rem(13);
  width: 100%;
  max-width: rem(63);
  @include mq(md) {
    font-size: rem(16);
  }
}

.explain__description {
  font-size: rem(13);
  padding-left: rem(70);
  @include mq(md) {
    font-size: rem(16);
    letter-spacing: 0.0625em;
  }
}
