@use "global" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);
  height: rem(50);
  transition: .3s all  linear;
}

.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(22);
  @include mq(md){
    padding-left: rem(30);
    padding-right: 0;
  }
}

.header__logo {
  width: rem(70);
  position: relative;
  z-index: 9999;
  @include mq(md){
    width: rem(94);
  }
}