@use "global" as *;

.sub-news {
  color: $white;
}

.sub-news__inner {
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  max-width: rem(640);
  @include mq(md) {
    max-width: rem(1092);
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.sub-news__content {
  margin-bottom: rem(32);
}