@use "global" as *;

.works-item__inner {
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  max-width: rem(640);
  @include mq("md") {
    max-width: $inner-s + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.works-item__header {
  color: $white;
  margin-bottom: rem(16);
}

.works-item__title {
  font-size: rem(20);
  letter-spacing: 0.02em;
  line-height: 1.75;
  margin-bottom: rem(16);
  font-weight: $regular;
}

.works-item__date {
  font-size: rem(16);
  letter-spacing: 0.025em;
  line-height: 1;
}

.works-item__category {
  font-size: rem(16);
  letter-spacing: 0.125em;
  line-height: 1;
  padding: rem(8) rem(20);
  border: 1px solid $white;
  margin-left: rem(30);
  display: inline-block;
}

.works-item__caption {
  color: $white;
  margin-bottom: rem(54);
}

.works-item__caption:last-child {
  margin-bottom: 0;
}

.works-item__gallery {
  margin-bottom: rem(56);
}